---
layout: default
---

<!DOCTYPE html>
<html lang="en">
 
    {% include head.html %}
    <title>About Jenna</title>
    
  <body>
      
    {% include nav.html content="currentpage page-about" %}
      
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="til">
          <div class="container page-title">
          <h1>About <span style="border-bottom: solid 10px var(--peachy);">Jenna</span></h1>
          </div>
      </div>
      
      <div class="about-content">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-6 headshot">
                      <img src="img/headshot-2-sq.jpg">
                  </div>
                  <div class="col-sm-6">
                      <p>I'm a design generalist who crafts simple solutions to complex problems. I love getting input and collaborating with diverse teams to reach the best outcomes.</p>
                      <p>I began my design career back in 2014, learning all things User Experience in the early days of <a href="https://generalassemb.ly/">General Assembly</a>. Before the program ended, I signed up to join the team at <a href="https://braveux.com/">Brave UX</a>. Working at an agency, I encountered a wide array of problems and developed a strong foundation in information architecture. I had the opportunity to work with a variety of clients, ranging from top names like AOL, Royal Caribbean, and Gensler to startups and local D.C. heroes.</p>
                      <p>After nearly 3 years of agency life, I dove into product design at a fintech startup called <a href="https://www.motorefi.com/">MotoRefi</a>. Working as a designer embedded in the engineering team, I strengthened my skills in front-end coding, visual design, and user research (among others).</p> 
                      <p>Currently I'm freelancing and keeping an eye out for my next great challenge. If you're a team looking for a versatile designer, <a href="contact.html">shoot me an email,</a> I'd love to hear from you.</p>
                  </div>
            </div>
        </div>
      </div>
      
      <div class="toolkit">
          <div class="container-fluid">
              <div class="row">
                  <h2>My Design Toolkit</h2>
                  <div class="grid-of-things">
                      <div class="grid-tool">
                          <i class="fas fa-portrait fa-3x"></i>
                          <h5>User Interviews</h5>
                      </div>
                      <div class="grid-tool">
                          <i class="fas fa-chess-knight fa-3x"></i>
                          <h5>UX Strategy</h5>
                      </div>
                      <div class="grid-tool">
                          <i class="fas fa-vial fa-3x"></i>
                          <h5>UI Testing</h5>
                      </div>
                      <div class="grid-tool">
                          <i class="fas fa-sitemap fa-3x"></i>
                          <h5>Flows + Wireframes</h5>
                      </div>
                      <div class="line-break"></div>
                      <div class="grid-tool">
                          <i class="fas fa-magic fa-3x"></i>
                          <h5>Visual Design</h5>
                      </div>
                      <div class="grid-tool">
                          <i class="fas fa-mobile fa-3x"></i>
                          <h5>Prototyping</h5>
                      </div>
                      <div class="grid-tool">
                          <i class="fas fa-code fa-3x"></i>
                          <h5>HTML/CSS</h5>
                      </div>
                      <div class="grid-tool">
                          <i class="fab fa-github fa-3x"></i>
                          <h5>Git</h5>
                      </div>
                      <div class="line-break"></div>
                      <div class="grid-tool">
                          <i class="fab fa-sketch fa-3x"></i>
                          <h5>Sketch</h5>
                      </div>
                      <div class="grid-tool">
                          <i class="fas fa-bezier-curve fa-3x"></i>
                          <h5>Adobe Illustrator</h5>
                      </div>
                      <div class="grid-tool">
                          <i class="fas fa-crop-alt fa-3x"></i>
                          <h5>Photoshop</h5>
                      </div>
                      <div class="grid-tool">
                          <i class="fas fa-play-circle fa-3x"></i>
                          <h5>After Effects</h5>
                      </div>
                  </div>
              </div>
              
              <div class="section-break"></div>
              <div class="row introduce-yourself"> 
                <h3>Interested in learning more?</h3>
                <br />
                <a href="contact.html" class="btn btn-default" role="button">Talk to Me &raquo;</a>
              </div>

              
              
<!--
              <div class="row">
                  <h2>More Things About Jenna</h2>
                  <div class="grid-of-things">
                      <div class="grid-object">
                        <img src="img/sea-of-sketches.jpg">
                      </div>
                      <div class="grid-object">
                          <h4>Here's an interesting fact about me!</h4>
                      </div>
                      <div class="grid-object">
                        <img src="img/sea-of-sketches.jpg">
                      </div>
                      <div class="grid-object">
                        <img src="img/sea-of-sketches.jpg">
                      </div>
                  </div>
              </div>
-->
          </div>
      </div>
      
      {% include footer.html %}
      {% include application.html %}
  </body>
</html>
