---
layout: default
---

<!DOCTYPE html>
<html lang="en">
 
    {% include head.html %}
    <title>About Jenna</title>
    
  <body>
      
    {% include nav.html content="currentpage page-about" %}
      
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="til">
          <div class="container page-title">
          <h1>About <span style="border-bottom: solid 10px var(--peachy);">Jenna</span></h1>
          </div>
      </div>
      
      <div class="about-content">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-4 headshot">
                      <img src="img/headshot-2-sq.jpg">
                  </div>
                  <div class="col-sm-6">
                      <p>I'm a design generalist who crafts simple solutions to complex problems.</p>
                      <p>I began my career in 2014, honing my UX skills at General Assembly and landing my first design position at <a target="_blank" href="https://braveux.com/">Brave UX</a>. I worked on a wide array of design problems and led IA, collaborating with a variety of clients like AOL and Gensler.</p>
                      <p>After 3 years of agency life, I dove into product design at <a target="_blank" href="https://www.motorefi.com/">MotoRefi</a>, a fintech startup (now called <i>Caribou</i>) focused on loan refinance. As part of a small team, I led UX/UI design, user research, and CSS polishes.</p> 
                      <p>In 2020, I joined the product team creating online communities at <a target="_blank" href="https://www.higherlogic.com/">Higher Logic</a>. I enjoy working cross-functionally and guiding UX for features like AI tools, editors, widgets, and more across a suite of products.</p>
                      <p>In my spare time, you'll find me cooking, puzzling, and mastering the art of being handy. If you'd like to <a href="contact.html">get in touch,</a> I'd love to hear from you.</p>
                  </div>
            </div>
        </div>
      </div>
      
<!--       <div class="toolkit">
          <div class="container-fluid">
              <div class="row">
                  <h2>My Design Toolkit</h2>
                  <div class="grid-of-things">
                      <div class="grid-tool">
                          <i class="fas fa-portrait fa-3x"></i>
                          <h5>User Interviews</h5>
                      </div>
                      <div class="grid-tool">
                          <i class="fas fa-chess-knight fa-3x"></i>
                          <h5>UX Strategy</h5>
                      </div>
                      <div class="grid-tool">
                          <i class="fas fa-vial fa-3x"></i>
                          <h5>UI Testing</h5>
                      </div>
                      <div class="grid-tool">
                          <i class="fas fa-sitemap fa-3x"></i>
                          <h5>Flows + Wireframes</h5>
                      </div>
                      <div class="line-break"></div>
                      <div class="grid-tool">
                          <i class="fas fa-magic fa-3x"></i>
                          <h5>Visual Design</h5>
                      </div>
                      <div class="grid-tool">
                          <i class="fas fa-mobile fa-3x"></i>
                          <h5>Prototyping</h5>
                      </div>
                      <div class="grid-tool">
                          <i class="fas fa-code fa-3x"></i>
                          <h5>HTML/CSS</h5>
                      </div>
                      <div class="grid-tool">
                          <i class="fab fa-github fa-3x"></i>
                          <h5>Git</h5>
                      </div>
                      <div class="line-break"></div>
                      <div class="grid-tool">
                          <i class="fab fa-sketch fa-3x"></i>
                          <h5>Sketch</h5>
                      </div>
                      <div class="grid-tool">
                          <i class="fas fa-bezier-curve fa-3x"></i>
                          <h5>Adobe Illustrator</h5>
                      </div>
                      <div class="grid-tool">
                          <i class="fas fa-crop-alt fa-3x"></i>
                          <h5>Photoshop</h5>
                      </div>
                      <div class="grid-tool">
                          <i class="fas fa-play-circle fa-3x"></i>
                          <h5>After Effects</h5>
                      </div>
                  </div>
              </div> -->
              
              <div class="section-break"></div>
              <div class="row introduce-yourself"> 
                <h3>Interested in learning more?</h3>
                <br />
                <a href="contact.html" class="btn btn-default" role="button">Talk to Me &raquo;</a>
              </div>

              
              
<!--
              <div class="row">
                  <h2>More Things About Jenna</h2>
                  <div class="grid-of-things">
                      <div class="grid-object">
                        <img src="img/sea-of-sketches.jpg">
                      </div>
                      <div class="grid-object">
                          <h4>Here's an interesting fact about me!</h4>
                      </div>
                      <div class="grid-object">
                        <img src="img/sea-of-sketches.jpg">
                      </div>
                      <div class="grid-object">
                        <img src="img/sea-of-sketches.jpg">
                      </div>
                  </div>
              </div>
-->
          </div>
      </div>
      
      {% include footer.html %}
      {% include application.html %}
  </body>
</html>
