---
layout: default
---

<!DOCTYPE html>
<html lang="en">
 
    {% include head.html %}
    
  <body>
      
    {% include nav.html %}
      
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="til">
          <div class="container page-title">
          <h1>About <span style="border-bottom: solid 10px var(--peachy);">Jenna</span></h1>
          </div>
      </div>
      
      <div class="about-content">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-6 headshot">
                      <img src="img/headshot-1-sq.png">
                  </div>
                  <div class="col-sm-6">
                      <p>I'm a design generalist looking to join a great team. <p>Specializing in visual design, information architecture, and user research, I strive to craft simple solutions to complex problems. I've had the opportunity to work with a variety of clients, ranging from top names like AOL, Royal Caribbean, and Gensler to local District heroes like Clutch.co and MotoRefi.  
                      <p>In my free time, you can find me biking/walking <a href="https://blog.visitalexandriava.com/things-alexandrias-del-ray-neighborhood/">my neighborhood</a>, playing tennis, or dreaming up my next project or trip.</p>
                      <p>Please reach out and <a href="contact.html">say hello!</a></p>
                      <br />
                      <p><i>Maybe put in a skills visualization? Like Rob's except not so...so.</i></p>
                  </div>
            </div>
        </div>
      </div>
      
      <div class="new-section">
          <div class="container-fluid">
              <div class="row">
                  <div>
                    <h1>Tighten it up h1</h1>
                    <h2>Cause this h2 needs to look good.</h2>
                    <h3>Cool okay? Yeah cool okay this is an h3.</h3>
                    <h4>Some sample text to make sure this works. h4 </h4>
                    <h5>Might as well make sure h5 looks good.</h5>
                    <h6>And last but not least, h6.</h6>
                    <p>This is a sample paragraph of text hello lorem ipsum dolor sit amet adipiscing elit sed do eiusmod.</p>
                  </div>
              </div>
          </div>
      </div>
      
      {% include footer.html %}
      
      
      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
