---
layout: default
---

<!DOCTYPE html>
<html lang="en">
 
    {% include head.html %} 
    <title>Contact Jenna</title>
    
    <body>
      
        {% include nav.html content="page-contact currentpage" %}
        
        <div class="row col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-4">
<!--            <div class="line-animation"></div>-->
            <div class="contact-info">
                <h2>Drop me a line</h2>
                <p>Whether you're interested in working together, just want to say hi, or noticed something on this website, feel free to reach out!</p>
                <br />
                <i class="icon-email fas fa-envelope-open-text fa-3x hidden-xs"></i>
                <p>Email me at: <br /><a href="mailto:jennafairlo@gmail.com">jennafairlo@gmail.com</a></p>
                <hr style="border: solid 2px var(--peachy); margin:30px 0 30px;">
                <div class="social-links">
                    <p>Find me around the web:</p>
                    <a href="https://www.linkedin.com/in/jgodfreyva/" target="_blank"><i class="icon-style fab fa-linkedin-in fa-lg"></i></a>
                    <a href="https://github.com/jgodfreyva" target="_blank"><i class="icon-style fab fa-github fa-lg"></i></a>
                    <a href="https://twitter.com/jennagofree" target="_blank"><i class="icon-style fab fa-twitter fa-lg"></i></a>
                    <a href="https://www.instagram.com/jennasaisquoi91/" target="_blank"><i class="icon-style fab fa-instagram fa-lg"></i></a>
                </div>
            </div>
        </div>
      
        <hr class="peachy-rule">
        
    {% include footer.html %}
    {% include application.html %}
        
    </body>
</html>