---
layout: default
---

<!DOCTYPE html>
<html lang="en">

    {% include head.html %}
    <title>Jenna Fairlo - UX/UI Designer based in Washington, D.C.</title>

  <body>
      
    {% include nav.html %}
        
    <div class="jumbotron">
      <section id="intro" class="container hero">
          <div class="col-lg-8">
            <h1>Hey, y'all.</h1>
            <p>I’m a designer and coder living in Washington, D.C. <span class="hidden-xs"><br /></span>Welcome to my portfolio. Go ahead, look around <span style="font-size: 13px;">👀</span> </p>
            <a class="btn btn-primary btn-lg" href="#projects" role="button">See my work ⇔</a>
        </div>
        <div class="intro-gif col-lg-2">
            <iframe src="https://giphy.com/embed/Rhx9xwFVCxnVsklEjr" frameBorder="0" class="giphy-embed" style="pointer-events: none;"></iframe>  
        </div>
      </section>
    </div>

    <div class="container projects" id="projects">
      <div class="row">
        <div class="col-md-6 project">
            <div class="project-card">
                <div class="project-img-container">
                    <img class="img-responsive" src="img/marketing-hero-small.jpg">
                </div>
                <h3>The MotoRefi Upgrade</h3>
                <p><span class="ping">–</span> Website Redesign <span class="ping">– </span><span class="year">2018</span></p>
                <p class="blurb">Every designer's dream: I tore apart my company's marketing site. Brand update, illustration, code, animation – I got to do it all.</p>
                <a class="btn btn-default" href="moto-case.html" role="button">View details &raquo;</a>
            </div>
        </div>
        <div class="col-md-6 project">
            <div class="project-card">
                <div class="project-img-container">
                    <img class="img-responsive" src="img/sandk-results-small.png">
                </div>
                <h3>A Technical Job Search</h3>
                <p><span class="ping">–</span> Platform Design <span class="ping">– </span><span class="year">2017</span></p>
                <p class="blurb">A client approached us to take their labor-intensive staffing process online. I led the information architecture and responsive visual design.</p>
                <a class="btn btn-default" href="upfront-case.html" role="button">View details &raquo;</a>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-6 project">
                <div class="project-card">
                    <div class="project-img-container">
                        <img class="img-responsive" src="img/wiki-small.jpg">
                    </div>
                    <h3>Wikipedia Reimagined</h3>
                    <p><span class="ping">–</span> Design Exercise <span class="ping">–</span> <span class="year">2017</span></p>
                    <p class="blurb">I took a stab at reworking a Wikipedia article page. It was a fun personal project that allowed me to work out some visual design muscles during a creative slump.
                    </p>
                    <a class="btn btn-default" href="wiki-case.html" role="button">View details &raquo;</a>
                </div>
            </div>
          </div>
      </div>
      
      <div class="testimonial col-sm-12">
          <div class="testimonial-inner">
            <div class="quotemark">
                <h1>,,</h1>
            </div>
            <h6>It was delightful to work with someone so versatile, talented, and hard-working. Jenna is one of the rare people who can think AND do. She takes pride in her work, creating smart and strategic deliverables that demonstrate how well she understands both UX and her clients' business. She does everything well: wireframes, design, writing, communication, and meeting deadlines.</h6>
            <h6>Jenna is everything you'd want on your team: a great problem-solver, intelligent, collaborative, and genuinely FUN.</h6>
            <div class="attribution">
                <div class="dot"><p>,,</p></div>
                <p class="name">Kelaine Conochan</p>
                <div class="title">
                    <p>National Marketing Director, ZogSports</p>
                    <p><span style="">Previously:</span> Director of Strategy, Brave UX</p>
                </div>
            </div>
          </div>
      </div>
      
      <div class="introduce-yourself col-md-6 col-md-offset-3">
          <h4 class="perm-marker">Who the heck<br />is Jenna?</h4>
          <img src="img/headshot-2-sq.jpg">
          <p>A team player who’s passionate about building great products and learning along the way. With a background in design and strategy, I’m ready to tackle any problem you’ve got.</p>
          <a class="btn btn-default" href="about.html" role="button">Learn more about me &raquo;</a>
      </div>

      <hr class="peachy-rule">
      
      {% include footer.html %}
      {% include application.html %}
  </body>
</html>
