---
layout: default
---

<!DOCTYPE html>
<html lang="en">

    {% include head.html %}
    <title>Jenna's Portfolio</title>

  <body>
      
    {% include nav.html %}

    <div class="jumbotron">
      <div class="container hero">
        <h1>Hey there, world.</h1>
        <p>I'm a designer and code dabbler living in Washington, D.C.</p>
        <p><a class="btn btn-primary btn-lg" href="#projects" role="button">See my work &raquo;</a></p>
      </div>
    </div>

    <div class="container projects" id="projects">
      <div class="row projects">
        <div class="col-md-6 project">
            <div class="project-card">
                <img class="img-responsive" src="img/wikiwiki.png">
                <h2>Reimagining Wikipedia</h2>
                <p><span class="ping">–</span> Design Exercise <span class="ping">–</span> <span class="year">2017</span></p>
                <p class="blurb">I took a stab at reworking a Wikipedia article page. It was a fun personal project that allowed me to work out some visual design muscles.
                </p>
                <a class="btn btn-default" href="case.html" role="button">View details &raquo;</a>
            </div>
        </div>
        <div class="col-md-6 project">
          <div class="project-card">
            <img class="img-responsive" src="img/moto.png">
            <h2>The MotoRefi Upgrade</h2>
            <p><span class="ping">–</span> Website Redesign <span class="ping">– </span><span class="year">2018</span></p>
            <p class="blurb">Every designer's dream: I tore apart my company's marketing site. Brand update, illustration, code, animation – I got to do it all!</p>
            <a class="btn btn-default" href="case.html" role="button">View details &raquo;</a>
            </div>
        </div>
        <div class="col-md-6 project">
            <div class="project-card">
                <img class="img-responsive" src="img/colors-nobg.png">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <a class="btn btn-default" href="case.html" role="button">View details &raquo;</a>
            </div>
        </div>
      </div>
      </div>
      
      <hr class="peachy-rule">
      
      <div class="introduce-yourself col-md-6 col-md-offset-3">
          <h2>Who the heck is Jenna?</h2>
          <img src="img/headshot-1-sq.png">
          <p>Jenna is a diverse designer focused on all things user experience. Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod. Consectetur dolore et labore figure do. Et tu Brutus you punk lorem ipsum dolor sit.</p>
          <a class="btn btn-default" href="about.html" role="button">Learn more about Jenna &raquo;</a>
      </div>

      <hr class="peachy-rule">
      
      {% include footer.html %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
