---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  
    {% include head.html %}
    <title>Case: MotoRefi</title>

  <body>
     
      {% include nav.html %}
      
      <div class="container-fluid">
          <div class="row case-header">
              <h1>The MotoRefi Upgrade</h1>
              <p><span class="ping">–</span> Website Redesign <span class="ping">– </span><span class="year">2018</span></p>
          </div>
          <div class="blurb-section row">
              <div class="col-sm-12 col-md-6 col-lg-4 case-blurb">
                <h6 class="case-blurb-title">Project Summary</h6>
                <h6>For a fintech company inviting customers to refinance their auto loan online, the original marketing site was an alarming starting point. We needed to overhaul the site as quickly as possible to reflect the company's modern, user-friendly, and trustworthy product.</h6>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 case-blurb">
                  <h6 class="case-blurb-title">Skill Areas</h6>
                  <ul>
                    <li><h6>Information Architecture</h6></li>
                    <li><h6>Visual Design &amp; Illustration</h6></li>
                    <li><h6>User Testing</h6></li>
                    <li><h6>Code Maintenance</h6></li>
                  </ul>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 case-blurb-media">
                <img src="img/wikiwiki.png">
              </div>
         </div>
      </div>
      
      <div class="container-fluid case-background">
          <div class="col-lg-8 col-lg-offset-2">
            <h2>Project Background</h2>
            <p>Hey, it was one night of wild passion! And yet you didn't notice her body? I like to look in the mirror. I need a fake passport, preferably to France… I like the way they think. GENE!! [screams] Gosh Mom… after all these years, God's not going to take a call from you. That was Tom Cruise, the actor. They said he was some kind of scientist. She's a contestant. It's sorta like an inner beauty pageant. Ah, there it is. Speaking of settling, how's Ann?</p>
            <hr>
            <h6 class="media-caption">Original: The rambling headline was one of many UX offenders in this dated site.</h6>
            <div style="height: 600px; overflow-y: hidden;">
                <img src="img/mr-marketing-before.jpg">
            </div>
          </div>
      </div>

      <div class="container-fluid case-details">
          <div class="case-details-text col-lg-8 col-lg-offset-2">
              <h2>Here's the story...</h2>
              <p>So join us here each week my friends you're sure to get a smile from seven stranded castaways here on Gilligans Isle. Well we're movin' on up to the east side. To a deluxe apartment in the sky! As long as we live its you and me baby. There ain't nothin' wrong with that. The mate was a mighty sailin' man the Skipper brave and sure. Five passengers set sail that day for a three hour tour a three hour tour. Movin' on up to the east side. We finally got a piece of the pie. Come and dance on our floor. Take a step that is new. We've a loveable space that needs your face threes company too.</p>
              <div class="stat-highlight">
                <h1>68<span class="stat-percent">%</span></h1>
                <h6>Lorem ipsum dolor sit amet example caption</h6>
              </div>
              <p>Believe it or not I'm walking on air. I never thought I could feel so free. Flying away on a wing and a prayer. Who could it be? Believe it or not its just me. The Brady Bunch the Brady Bunch that's the way we all became the Brady Bunch?</p>
            <img src="img/moto.png">
          </div>
      </div>
      
      <div class="container-fluid case-end">
          <div class="thank-you">
            <h2>Thanks for looking!</h2>
            <h4>Project presented by:</h4>
            <img src="img/headshot-1-sq.png">
            <br />
            <a href="about.html">Learn more about Jenna</a>
            <br />
            <a href="contact.html">Get in touch</a>
          </div>
          <div class="more-cases">
            <h2 class="dark-bg">See more of my work</h2>
            <div class="container projects">
                <div class="col-md-6 project">
                    <div class="project-card">
                        <img class="img-responsive" src="img/moto.png">
                        <h2>The MotoRefi Upgrade</h2>
                        <p><span class="ping">–</span> Website Redesign <span class="ping">– </span><span class="year">2018</span></p>
                        <p class="blurb">Every designer's dream: I got to tear apart my company's marketing site. Brand update, illustration, code, animation – I got to do it all!</p>
                        <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
                    </div>
                </div>
                <div class="col-md-6 project">
                    <div class="project-card">
                        <img class="img-responsive" src="img/wikiwiki.png">
                        <h2>Reimagining Wikipedia</h2>
                        <p><span class="ping">–</span> Design Exercise <span class="ping">–</span> <span class="year">2017</span></p>
                        <p class="blurb">I took a stab at reworking a Wikipedia article page. It was a fun personal project that allowed me to work out some visual design muscles.</p>
                        <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
                    </div>
                </div>
            </div>
          </div>
      </div>
      
      {% include footer.html %}
      
      
      
      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </body>
</html>
