---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="icon" href="../../favicon.ico">

    <title>Today I Learned</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/jumbotron.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]--> 
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    {% include nav.html %}
      
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="til container-fluid page-title">
      <h1><span style="border-bottom: solid 10px var(--peachy);">T</span>oday <span style="border-bottom: solid 10px var(--peachy);">I</span> <span style="border-bottom: solid 10px var(--peachy);">L</span>earned</h1>
    </div>
      
  <div class="container-fluid til-posts"> 
    <div class="well">
        <div class="row">
            <div class="til-text col-md-6">
                <h6><span class="til-date">Wed Sep 4, 2019</span></h6>
                <h4>I'm back! Since I moved from D.C. out to Alexandria, I've been fascinated by the birds around the neighborhood. Over the summer, you can see a flock of <a href="https://www.audubon.org/field-guide/bird/chimney-swift#" target="_blank" class="inline-link">chimney swifts</a> that circle the chimney of an adjacent apartment building every evening as they forage. These special swifts can't perch on a branch of a tree. Their claws are made only for clinging to bark or brick (which is why the inside of a chimney is a perfect place for them to live).</h4>
                <h4>They can eat up to 1/3 of their body weight in insects each day. Oh, and their saliva acts as a glue that holds their nest to a brick wall – how cool! </h4>
            </div>
            <div class="til-media col-md-6 embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ROA4ha9f09w?start=202" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>  
    
<div class="container-fluid"> 
    <div class="well">
        <div class="row">
            <div class="til-text col-md-6">
                <h6><span class="til-date">Wed Jan 2, 2019</span></h6>
                <h4>Today I dug into some of <a href="https://en.wikipedia.org/wiki/Loretta_Lynn" target="_blank">Loretta Lynn's</a> songs. What an incredible musician. She married very young – 15, and had 4 kids by the time she was 20 years old. And yet she went on to become the most awarded female artist in country music. Some of her songs were controversial – "The Pill", for example. Loretta recorded it in 1972 but the record held it from release until 1975. Some radio stations banned it but the catchy tune still managed to become her highest-charting <i>pop</i> single and spread the word of birth control to overburdened women around America. <a href="https://youtu.be/ROA4ha9f09w?t=200" target="_blank">Thanks, Loretta!</a></h4>
            </div>
            <div class="til-media col-md-6 embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ROA4ha9f09w?start=202" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<hr class="peachy-rule">      
      
{% include footer.html %}
      
</body>