---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  
    {% include head.html %}
    <title>Today I Learned</title>

  <body>

    {% include nav.html content="currentpage page-til" %}
      
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="til container-fluid page-title col-lg-10 col-lg-offset-1">
        <h1><span style="border-bottom: solid 10px var(--peachy);">T</span>oday <span style="border-bottom: solid 10px var(--peachy);">I</span> <span style="border-bottom: solid 10px var(--peachy);">L</span>earned</h1>
        <h5 class="intro-subline">A random mix of music, coding, French, history, et cetera.</h5>
    </div>
      
    <div class="container-fluid til-posts col-lg-10 col-lg-offset-1">
        <div class="well">
            <div class="row">
                <div class="til-alltext til-text col-md-12">
                    <h6><span class="til-date">Sat Dec 14, 2019</span></h6>
                    <p>Holy cannoli. So I changed the hero on my homepage on Thursday. I added in more shades of color and widened out the lines to add more visual depth. I used css <a href="https://bennettfeely.com/clippy/" target="_blank" class="inline-link">polygon clip-paths</a> and :before / :after pseudo-classes in order to create the effect. HOWEVER, I failed to notice that the z-index(s) I added to the classes put the polygons on top of the content! My rookie mistake broke the button in the hero and I didn’t catch it til today.</p>
                    <p>I had to do some reworking of the header. The main problem was that I had set the section z-index at -1000 and then tried to overwrite it by giving the inner div containing the content a z-index of 1000 🤣 Yikes! I simplified z-situation and then had to change the diagonal stripe color to something darker than the original so you can spot it underneath the background-color of the top layer (the section containing the content). The colors aren't exactly right so I'll need to keep tweaking that but it's a decent enough bug fix for now.</p>
                    <p>Of course, finding one bug often leads to spotting another. The polygon clip-path I had used to create the aforementioned dark stripe was positioned absolutely. I had used the same clip-path coordinates and simply shifted it with left: 40px as a shortcut. This introduced a pesky case of horizontal scrolling – gross! The overflow: hidden property didn’t do anything to help. I eventually solved the case by removing the 40px positioning and tweaking the clip-path coordinates to replicate the stripe.</p>
                    <br />
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="til-text col-md-6">
                    <h6><span class="til-date">Wed Nov 27, 2019</span></h6>
                    <p>The other day I came across a funny French expression. <span style="color: var(--bluegrandma);"><em>Occupe-toi de tes oignons</em></span>. Translation: Mind your own onions! Or, mind your own business.</p>
                    <p>The French really know how to keep food top of mind – quite a few of their expressions are food-centric. <span style="color: var(--bluegrandma);"><em>En faire tout un fromage</em></span> literally means to make a whole cheese about it (i.e. to make a big fuss). Another fun one: <span style="color: var(--bluegrandma);"><em>Avoir la pêche</em></span> means to feel full of energy. But it literally translates as "<em>to have the peach</em>". Beware though because if you have <span style="color: var(--bluegrandma);"><em>le melon</em></span>, you're bigheaded and overconfident!</p>
                    
                    <p>Read up on <a href="https://www.talkinfrench.com/tasty-french-expressions/" target="_blank" class="inline-link">more French food phrases</a>.</p>
                </div>
                <div class="til-media til-img col-md-6 img-responsive">
                    <img src="img/til/til-peche-05.png">
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="til-alltext til-text col-md-12">
                    <h6><span class="til-date">Fri Nov 22, 2019</span></h6>
                    <h5 style="margin-top: 20px;">Quick TIL recap of the past week:</h5>
                    <ul>
                        <li>Stumbled upon the word <em>somnambulism</em> which is another term for <a href="https://en.wikipedia.org/wiki/Sleepwalking" target="_blank" class="inline-link">sleepwalking</a>;</li> 
                        <li>Read up on Vietnamese prime minister <a href="https://en.wikipedia.org/wiki/Ngo_Dinh_Diem" target="_blank" class="inline-link">Ngô Đình Diệm</a> and his <a href="https://en.wikipedia.org/wiki/Person_Dignity_Theory" target="_blank" class="inline-link">Person Dignity Theory</a> political doctrine;</li>
                        <li>Recently found out that the official bird of Washington, D.C. is... <a href="https://abcbirds.org/bird/wood-thrush/" target="_blank" class="inline-link">the Wood Thrush</a>! They have a beautiful flute-like call. Unfortunately their populations are in serious decline due to habitat loss, invasive Cowbirds, and other problems 😣</li>
                        <li>On a less dismal note, just today I was listening to one of Mozart's <a href="https://www.youtube.com/watch?v=0LgkkwyUK_A" target="_blank" class="inline-link">most metal classical jams</a> and discovered that the play it was composed for had <a href="http://artsites.ucsc.edu/faculty/dudley/figaro.historical.html" target="_blank" class="inline-link">strong ties to the French Revolution</a>. Pretty cool.</li>
                    </ul>
                    <br />
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="til-text col-md-6">
                    <h6><span class="til-date">Tue Nov 12, 2019</span></h6>
                    <p>I'm not a podcast person but man, I'm in love with a podcast. It's called <a href="https://www.wnycstudios.org/podcasts/dolly-partons-america" target="_blank" class="inline-link">Dolly Parton's America</a>, hosted by Jad Abumrad of <em>Radiolab</em> and <em>All Things Considered</em>. I've learned so many nuggets about world history, American history, and of course, Dolly! I'd highly recommend it. I'll leave you with a few tidbits I've learned:</p>
                    <ul>
                        <li>Although the banjo is associated with <em>Deliverance</em> and Appalachia, it originated in Africa and was brought to the States by enslaved Africans. White entertainers later co-opted the banjo in blackface minstrel shows which is how it eventually came to be associated with <em>white</em> Southern culture. <a href="https://bittersoutherner.com/history-of-the-banjo#.XctU2pNKiRs" target="_blank" class="inline-link">Learn more here.</a></li>
                        <li>There's a subgenre of folk/country music called <em>murder ballads</em> which you may have guessed... are songs about murdering someone. <a href="https://en.wikipedia.org/wiki/The_Knoxville_Girl" target="_blank" class="inline-link">"Knoxville Girl"</a> for example is a brutal update of the 19th century Irish ballad "The Wexford Girl" which traces back to a song from 1683 that details the murder of Anne Nichols. It's a really strange corner of violent pop culture.</li>
                        <li>Dolly can legitimately play her crazy long fingernails like a washboard when demonstrating a tune! 😂 She is a hero.</li>
                    </ul>
                    <p>Here are a <a href="https://www.youtube.com/watch?v=0u40tHs-Yu8" target="_blank" class="inline-link">few</a> of my <a href="https://www.youtube.com/watch?v=KZs51pnTDb0" target="_blank" class="inline-link">favorite</a> Dolly <a href="https://www.youtube.com/watch?v=aDqqm_gTPjc" target="_blank" class="inline-link">hits!</a>  Hope you <a href="https://www.youtube.com/watch?v=lN_VQ8GWEos&t=83s" target="_blank" class="inline-link">enjoy</a> 🌞</p>
                </div>
                <div class="til-vid til-media col-md-6 embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Fwc1FkkWulc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="til-alltext til-text col-md-12">
                    <h6><span class="til-date">Mon Nov 4, 2019</span></h6>
                    <h4>Learned many things today! Rick Steves led me down a wormhole learning about <a href="https://www.ancient.eu/Cathars/" target="_blank" class="inline-link">the Cathars</a> in 12th century France. I learned how to <a href="https://www.steckinsights.com/shorten-length-border-bottom-pure-css/" target="_blank" class="inline-link">make a CSS bottom border &#60;100%</a> of its element's width. And I dove way into <a href="http://jkorpela.fi/html/characters.html" target="_blank" class="inline-link">special characters</a> in HTML. <a href="https://www.toptal.com/designers/htmlarrows/" target="_blank" class="inline-link">&#8756;&#176;&#8756;</a></h4>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="til-text col-md-6">
                    <h6><span class="til-date">Sat Nov 2, 2019</span></h6>
                    <p>Figured out how to pass in variables with _includes in Jekyll. I had put my nav into an html file in the _includes folder which was great for cleaning up my code but I was stumped when I wanted to visually indicate the current page you're seeing. I got some good direction on how to go about using a variable to designate a specific class (Thanks, Doug!). On my unordered list in my nav file, I set <br /><span class="code-snippet">class	&#61;&#34; &#123;&#123; include.content &#125;&#125; &#34;</span> . Then at the top of each individual page, we call in the nav file and set a specific class for the page <br /><span class="code-snippet">&#123;	&#37; include nav.html content&#61;&#34;page-til currentpage&#34; 	&#37;&#125;</span> .</p>
                    <p>Lastly in your CSS, you'll need a rule for each page setting the "active" style. I used the <span class="code-snippet">&#58;nth-of-type&#40; &#41;</span> pseudo-class to make sure only one nav link appears active at a time.</p>
                    <p>Learn more about <a href="https://jekyllrb.com/docs/includes/" target="_blank" class="inline-link">Jekyll _includes</a>, <a href="https://daverupert.com/2017/07/jekyll-includes-are-cool/" target="_blank" class="inline-link">passing in variables</a>, and <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-of-type" target="_blank" class="inline-link">:nth-of-type</a>.</p>
                </div>
                <div class="til-media til-img col-md-6 img-responsive">
                    <img src="img/til/githubjekyll.png">
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="til-text col-md-6">
                    <h6><span class="til-date">Thu Oct 31, 2019</span></h6>
                    <p>Learned the crazy story of how Playtex won the contract to produce NASA's spacesuits. They got swindled out of the competition by defense contractors but they flew to Houston and begged to compete. In just 6 weeks, they had to design and build a suit that could withstand temperatures as low as negative 280&#176;F and as high as 240&#176;F all while housing a flexible astronaut and their pressurized atmosphere.</p>
                    <p>When their prototype went head-to-head in user testing, it was the clear winner. One rival suit had a helmet blow off and the other couldn't fit through the hatch! Expert seamstresses working on bras and underwear suddenly had the more daunting job of sewing a 21-layer spacesuit. They couldn't be more than 1/32 inch off and had to count every single stitch to ensure quality.</p>
                    <p>Their hard work paid off – the same group (now ILC Dover) makes every NASA spacesuit to this day. And they're based right nearby in Delaware. Pretty cool! Read <a href="https://www.fastcompany.com/90375440/the-improbable-story-of-the-bra-maker-who-won-the-right-to-make-astronaut-spacesuits" target="_blank" class="inline-link">more about it</a>.</p>
                    <p><a class="pop-trigger" tabindex="0" data-toggle="popover" data-placement="top" data-trigger="hover" role="button" title="" data-content="Exploring space is cool and all but we have so many problems on our own planet already. I don't want to see us unwittingly put our entire galaxy in jeopardy. Personally, I'd love to see all the money and brain power currently invested in space exploration redirected to saving our forests, water, and atmosphere. Thanks for hearing out my soapbox moment 🤠">P.S. Soapbox moment 🔊</a></p>
                </div>
                <div class="til-media til-img col-md-6 img-responsive">
                    <img src="img/til/spacesuit.jpg">
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="til-text col-md-6">
                    <h6><span class="til-date">Tues Oct 22, 2019</span></h6>
                    <p>I just finished a book called <a href="https://brandonsanderson.com/books/mistborn/the-final-empire/" target="_blank" class="inline-link"><em>Mistborn</em> by Brandon Sanderson</a> – it was incredible! I haven't voraciously crushed through a book like that in a long time. When my friend recommended it, I have to admit I was a little skeptical given that it's a long fantasy novel. But it had everything you could want in a book. I learned that Sanderson's goal was to bring the level of intrigue of a heist movie like <em>Ocean's Eleven</em> to an epic sci-fi setting. It's no wonder I was instantly captured (we love Steven Soderbergh movies in this household).</p>
                    <p>Combine that with a really interesting system of magic, lovable characters, and Sanderson's accessible writing style, you've got a winner of a book. Oh, and it's just book one of a trilogy! I'll be cracking into the second of the series ASAP.</p>
                </div>
                <div class="til-media til-img col-md-6 img-responsive">
                    <img src="img/til/mistborn.jpg">
                </div>
            </div>
        </div>  
        <div class="well">
            <div class="row">
                <div class="til-text til-img col-md-6">
                    <h6><span class="til-date">Mon Oct 14, 2019</span></h6>
                    <p>Today I learned the French phrase "Ça me donne le cafard." If you translate this literally, it means "That gives me the cockroach" – gross! However, the French love their expressions and the understood meaning of the phrase is "That depresses me."</p>
                    <p>Though cockroach is the most common translation of <em>le cafard</em>, it can also mean hypocrite (likely taken from the Arabic <em>kafr</em> meaning miscreant or non-believer). Turns out the poet Charles Baudelaire invented the depressing translation in <em>Les Fleurs du mal</em> in 1857. Read more about <a href="https://www.lawlessfrench.com/expressions/avoir-le-cafard/" target="_blank" class="inline-link">sad French cockroaches here!</a></p>
                </div>
                <div class="til-media col-md-6 til-audio">
                    <audio controls="controls">
                    <source src="other-media/dointhecockroach-small.mp3" preload="auto" />
                    <source src="other-media/dointhecockroach-small.ogg" />
                    Your browser does not support audio embeds.</audio>
                    <p>"Doin' the Cockroach" by Modest Mouse</p>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="til-text col-md-6">
                    <h6><span class="til-date">Thu Sep 5, 2019</span></h6>
                    <p>Today I learned some great advantages of Jekyll. My code for this portfolio site had become <em>so repetitive</em> with a head, nav, and footer on every page template. Needless to say, changing something in any of those areas was a huge pain. I met up with a former coworker asking him how I could approach using Rails partials or something similar to clean it up. We talked through a few different strategies like Rails, Vue, etc. but all of them sounded overly complex for what I needed.</p>
                    <p>I really wanted to launch this site on Github Pages, so we started poking around with Jekyll and voilà! Jekyll has its own <a href="https://jekyllrb.com/docs/includes/" target="_blank" class="inline-link"><em>includes</em></a> feature which allows you to call content from another file. My code is so much cleaner! Thank God I had help though – the Jekyll documentation is minimal and they didn't explicitly state that you have to override their default layout and then declare the type of layout at the top of each page. Tricky stuff. A huge shoutout and thank you to Nisarg for figuring that out!</p>
                </div>
                <div class="til-media til-img col-md-6 img-responsive">
                    <img src="img/til/githubjekyll.png">
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="til-text col-md-6">
                    <h6><span class="til-date">Wed Sep 4, 2019</span></h6>
                    <p>I'm back! Since I moved from D.C. out to Alexandria, I've been fascinated by the birds around the neighborhood. Over the summer, you can see a flock of <a href="https://www.audubon.org/field-guide/bird/chimney-swift#" target="_blank" class="inline-link">chimney swifts</a> that circle the chimney of an adjacent apartment building every evening as they forage. These special swifts can't perch on a tree branch like other birds. Their claws are made only for clinging to bark or brick (which is why the inside of a chimney is a perfect place for them to live).</p>
                    <p>They can eat up to 1/3 of their body weight in insects each day. Oh, and their saliva acts as a glue that holds their nest to a brick wall – how cool! </p>
                </div>
                <div class="til-vid til-media col-md-6 embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ES9uAv6OlaE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="til-text col-md-6">
                    <h6><span class="til-date">Wed Jan 2, 2019</span></h6>
                    <p>Today I dug into some of <a href="https://en.wikipedia.org/wiki/Loretta_Lynn" target="_blank">Loretta Lynn's</a> songs. What an incredible musician. She married very young (15!) and had 4 kids by the time she was 20 years old. And yet she went on to become the most awarded female artist in country music. Some of her songs were controversial – "The Pill", for example. Loretta recorded it in 1972 but the label held it from release until 1975. Some radio stations banned it but the catchy tune still managed to become her highest-charting pop single and spread the word of birth control to overburdened women around America. <a href="https://youtu.be/pAFSwdoXGMg?t=98" target="_blank" class="inline-link">Thanks, Loretta!</a></p>
                </div>
                <div class="til-vid til-media col-md-6 embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ROA4ha9f09w?start=202" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
      </div>

<hr class="peachy-rule">      
      
{% include footer.html %}
{% include application.html %}
      
</body>
</html>