---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  
    {% include head.html %}
    <title>Today I Learned</title>

  <body>

    {% include nav.html %}
      
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="til container-fluid page-title col-lg-10 col-lg-offset-1">
      <h1><span style="border-bottom: solid 10px var(--peachy);">T</span>oday <span style="border-bottom: solid 10px var(--peachy);">I</span> <span style="border-bottom: solid 10px var(--peachy);">L</span>earned</h1>
    </div>
      
    <div class="container-fluid til-posts col-lg-10 col-lg-offset-1">
        <div class="well">
            <div class="row">
                <div class="til-text col-md-6">
                    <h6><span class="til-date">Tues Oct 22, 2019</span></h6>
                    <p>THIS ONE IS ABOUT MISTBORN MMMMMKAY?</p>
                    <p>They can eat up to 1/3 of their body weight in insects each day. Oh, and their saliva acts as a glue that holds their nest to a brick wall – how cool! </p>
                </div>
                <div class="til-media col-md-6 embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ES9uAv6OlaE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        
        <div class="well">
            <div class="row">
                <div class="til-text col-md-6">
                    <h6><span class="til-date">Mon Oct 14, 2019</span></h6>
                    <p>Today I learned the French phrase "Ça me donne le cafard." If you translate this literally, it means "That gives me the cockroach" – gross! However, the French love their expressions and the understood meaning of the phrase is "That depresses me."</p>
                    <p>Though cockroach is the most common translation of <em>le cafard</em>, it can also mean hypocrite (likely taken from the Arabic <em>kafr</em> meaning miscreant or non-believer). Turns out the poet Charles Baudelaire invented the depressing translation in <em>Les Fleurs du mal</em> in 1857. Read more about <a href="https://www.lawlessfrench.com/expressions/avoir-le-cafard/" target="_blank" class="inline-link">sad French cockroaches here!</a></p>
                </div>
                <div class="til-media col-md-6 til-audio">
                    <audio controls="controls">
                    <source src="other-media/dointhecockroach-small.mp3" preload="auto" />
                    <source src="other-media/dointhecockroach-small.ogg" />
                    Your browser does not support audio embeds.</audio>
                    <p>"Doin' the Cockroach" by Modest Mouse</p>
                </div>
            </div>
        </div>
      
        <div class="well">
            <div class="row">
                <div class="til-text col-md-6">
                    <h6><span class="til-date">Wed Sep 4, 2019</span></h6>
                    <p>I'm back! Since I moved from D.C. out to Alexandria, I've been fascinated by the birds around the neighborhood. Over the summer, you can see a flock of <a href="https://www.audubon.org/field-guide/bird/chimney-swift#" target="_blank" class="inline-link">chimney swifts</a> that circle the chimney of an adjacent apartment building every evening as they forage. These special swifts can't perch on a branch of a tree. Their claws are made only for clinging to bark or brick (which is why the inside of a chimney is a perfect place for them to live).</p>
                    <p>They can eat up to 1/3 of their body weight in insects each day. Oh, and their saliva acts as a glue that holds their nest to a brick wall – how cool! </p>
                </div>
                <div class="til-media col-md-6 embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ES9uAv6OlaE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    
        <div class="well">
            <div class="row">
                <div class="til-text col-md-6">
                    <h6><span class="til-date">Wed Jan 2, 2019</span></h6>
                    <p>Today I dug into some of <a href="https://en.wikipedia.org/wiki/Loretta_Lynn" target="_blank">Loretta Lynn's</a> songs. What an incredible musician. She married very young – 15, and had 4 kids by the time she was 20 years old. And yet she went on to become the most awarded female artist in country music. Some of her songs were controversial – "The Pill", for example. Loretta recorded it in 1972 but the record held it from release until 1975. Some radio stations banned it but the catchy tune still managed to become her highest-charting <em>pop</em> single and spread the word of birth control to overburdened women around America. <a href="https://youtu.be/ROA4ha9f09w?t=200" target="_blank">Thanks, Loretta!</a></p>
                </div>
                <div class="til-media col-md-6 embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ROA4ha9f09w?start=202" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
      </div>

<hr class="peachy-rule">      
      
{% include footer.html %}
      
</body>
</html>