---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  
    {% include head.html %}
    <title>Case: Upfront</title>

  <body>
     
      {% include nav.html %}
      
      <div class="container-fluid">
          <div class="row case-header">
              <h1>The Technical Job Search</h1>
              <p><span class="ping">–</span> Platform Design <span class="ping">– </span><span class="year">2017</span></p>
          </div>
          <div class="blurb-section row">
              <div class="col-sm-12 col-md-6 col-lg-4 case-blurb">
                <h6 class="case-blurb-title">Project Summary</h6>
                <h6>A recruiting firm approached our design agency to get their manual process online and outsource some of the legwork to their clients. We designed a modern platform that equally balances the needs of both the technical job seekers and the companies looking to hire.</h6>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 case-blurb">
                  <h6 class="case-blurb-title">Skill Areas</h6>
                  <ul>
                    <li><h6>Information Architecture</h6></li>
                    <li><h6>Mobile Visual Design</h6></li>
                    <li><h6>Strategy</h6></li>
                  </ul>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 case-blurb-media">
                <img src="img/sandk-results-small.png">
              </div>
         </div>
      </div>
      
      <div class="container-fluid case-background">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2>Project Background</h2>
            <p>In early spring of 2017, I was working with Brave UX, a digital agency making a name for itself in Washington, D.C. We were approached by a successful local staffing agency focused on IT professionals. They wanted to reapproach how they recruit candidates and staff firms and put the bulk of their recruitment process online. This would allow them to do less on-the-ground work and ultimately draw in larger numbers of job seekers and companies.</p> 
            <p></p>
          </div>
      </div>
      <div class="container-fluid case-details">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <h2>Getting Down to Business</h2>
              <p>The client had a strong idea of their customers' needs and prioritized speed to launch so we got to work on strategy and information architecture. I started with high-level flows to orient the team around a) what each audience is looking for and b) how to most efficiently get users to their end goal of a new job or new hire.</p>
              <p>The former process was completely manual – a company would provide requirements, then our client would help to fill in gaps with the job posting and then begin the hunt for possible candidates if they didn't already have contact with prospects who fit the bill. Putting the job postings online would allow them to capture a broader pool of applicants who were already on the hunt for themselves. At the time there were few job search sites that catered directly to tech professionals. We saw an opening to provide this audience with sophisticated tools to hone in on the best jobs for them.</p>
              <p>The high-level site flow ensured that both candidates and companies were prioritized equally and would be encouraged to apply for a given job and/or register to create a profile with our client.</p>
              <div class="img-container-light-bg">
                <img src="img/upfront-ia-high.png">
              </div>
              <h6 class="media-caption-light-bg">
                At a high level, the platform consisted of a marketing site, search results with comprehensive filters, and a landing page for a given job, company, or candidate. 
              </h6>
              <hr class="caption-rule">
              <div class="section-break"></div>
            </div>
      </div>
      
      <div class="container-fluid case-end">
          <div class="thank-you">
            <h2>Thanks for looking!</h2>
            <h4>Project presented by:</h4>
            <img src="img/headshot-1-sq.png">
            <br />
            <a href="about.html">Learn more about Jenna</a>
            <br />
            <a href="contact.html">Get in touch</a>
          </div>
          <div class="more-cases">
            <h2 class="dark-bg">See more of my work</h2>
            <div class="container projects">
                <div class="col-md-6 project">
                    <div class="project-card">
                        <img class="img-responsive" src="img/moto.png">
                        <h2>The MotoRefi Upgrade</h2>
                        <p><span class="ping">–</span> Website Redesign <span class="ping">– </span><span class="year">2018</span></p>
                        <p class="blurb">Every designer's dream: I got to tear apart my company's marketing site. Brand update, illustration, code, animation – I got to do it all!</p>
                        <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
                    </div>
                </div>
                <div class="col-md-6 project">
                    <div class="project-card">
                        <img class="img-responsive" src="img/wikiwiki.png">
                        <h2>Reimagining Wikipedia</h2>
                        <p><span class="ping">–</span> Design Exercise <span class="ping">–</span> <span class="year">2017</span></p>
                        <p class="blurb">I took a stab at reworking a Wikipedia article page. It was a fun personal project that allowed me to work out some visual design muscles.</p>
                        <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
                    </div>
                </div>
            </div>
          </div>
      </div>
      
      {% include footer.html %}
      
      
      
      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src=".js/tests/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
    <script src="js/carousel.js"></script>
</body>
</html>