---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  
    {% include head.html %}
    <title>Case: Wikipedia</title>
    
    <body>
     
      {% include nav.html %}
        
        <div class="container-fluid">
          <div class="row case-header">
              <h1>Reimagining Wikipedia</h1>
              <p><span class="ping">–</span> Design Exercise <span class="ping">– </span><span class="year">2017</span></p>
          </div>
          <div class="blurb-section row">
              <div class="col-sm-12 col-md-6 col-lg-4 case-blurb">
                <h6 class="case-blurb-title">Project Summary</h6>
                <h6>As an avid user of Wikipedia, I sought to make improvements to the organization and flow of an article page. I took this on as an exploratory exercise to stretch my design muscles.</h6>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 case-blurb">
                  <h6 class="case-blurb-title">Skill Areas</h6>
                  <ul>
                    <li><h6>Information Architecture</h6></li>
                    <li><h6>Visual Design</h6></li>
                  </ul>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 case-blurb-media">
                <img src="img/wiki-small.jpg">
              </div>
         </div>
        </div>

        <div class="container-fluid case-background">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2>Project Background</h2>
            <p>In late 2017, I had left a design agency where I primarily focused on information architecture. I wanted to push past the black and white world of wireframes and tackle a fun visual redesign exercise. What better place to start than the internet's free encyclopedia?!</p>
            <p>When analyzing a Wikipedia article, it's difficult to be objective (given that we've all used Wikipedia numerous times). However, the first thing that comes to mind is <em>organized chaos</em>. You can find all the information at your fingertips but with the number of links and possible paths to go down, it's easy to get lost in a Wiki wormhole. I wondered if there was a way to better direct users to related people/things so they could dive deeper in learning about a specific <em>topic</em>. In addition, I saw a number of quick wins that would help improve legibility and liven up the page from its stripped-down appearance.</p>
            <p>As with any design exercise, I want to strongly emphasize that the requirements and constraints of this project are <span style="font-weight: 700; border-bottom: solid 3px var(--peachy);">IMAGINARY</span> and idealized. The reality of product design is much messier and complex than my hypothetical wireframes and mockups here could ever demonstrate. Please keep this in mind as you read through and weigh my take on a Wiki article. No users or clients were harmed in this redesign :)</p>
            <div class="img-container-dark-bg">
                <img src="img/wiki-original.jpg">  
            </div>
            <h6 class="media-caption-dark-bg">'Organized chaos' comes to mind when looking at Wikipedia's article page. I wanted to explore better organization and a way to direct users to learn more about a given topic.</h6>
            <hr class="caption-rule">
          </div>
      </div>
    
        <div class="container-fluid case-details">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <h2>Ideating for Deeper Knowledge</h2>
              <p>In redesigning a Wikipedia article, my primary motivation was to improve the flow of information within the page as well as between related topics. It's easy to lose yourself in the vast connections that Wikipedia promotes through numerous inline links. One can suddenly jump, for instance, from "Jane Jacobs" to "Greenwich Village" to "60s counterculture" to "assassination of John F. Kennedy"... woah. Though it's fun to gather general information like this, it doesn't encourage a user to dive deeper into a specific topic.</p>
              <p>With pen to paper, I started ideating how to better promote a focused line of knowledge ("Urban Planning" for example). I toyed with the idea of allowing desktop users to open up a second article and lay them out side-by-side like a book. I played around with <em>queuing</em> up related articles to show a customizable path forward for users. The simplest idea is often the best, however, and I felt drawn to a sidebar that populated related people, topics, and more.</p>
              <p>In addition, I wanted to show users a teaser of what's behind a given inline link in an article before they go clicking down a path that causes them to lose sight of what they originally came to learn about. I sketched out concepts for a pop-up that reveals critical information when a user hovers on any given link. This helps users by a) giving them a hint as to what the link means which helps them digest the current article and b) shows them where that link will lead to better inform them as to whether to pivot or not. I was pleasantly surprised to see that not even a year after I sketched these, Wikipedia released their own version of this pop-up! Good design minds think alike.</p>
              <div class="img-container-light-bg">
                <img src="img/wiki-sketch.jpg">
              </div>
              <h6 class="media-caption-light-bg">
                I started by ideating on how to encourage users to dive deeper within a given topic rather than skimming through the wealth of random knowledge that Wikipedia offers.
              </h6>
              <hr class="caption-rule">
              <div class="section-break"></div>
              <h2>Laying Out a Better Page</h2>
              <p>When it comes to the bones of a Wiki article, there's no changing the solid foundation: a table of contents, a table of quick facts, and the article itself consisting of headings, paragraphs, links, images, and sources. However, I wanted to create a better reading experience than the current version offers.</p>
              <p>You may have noticed that the length of a paragraph line on a desktop Wikipedia article page can get <em>long</em>. The wider your screen, the wider the text grows. These lenghty lines harm legibility as most research has shown <a href="http://webtypography.net/2.1.2" target="_blank">45-75 characters</a> to be the the ideal length for reading speed, comprehension, and comfort. On a 1366px wide desktop screen, for instance, most lines of the Jane Jacob article render at <strong>120-180 characters</strong> long. In my redesigned article I reigned it in to &#126;75 characters per line, using a central column to create a more legible length.</p>
              <p>In addition to a better read, I added in some quick organization wins. Slotting the table of contents into its own separate container allows it to scroll down the page as a user reads. This way they can jump around within the article as they see fit. I also aimed to better organize the quick facts card on the right side of the page. Wikipedia is doing some great things here but I wanted to give each fact more room to breathe.</p>
              <p>The current left sidebar menu adds a lot of visual clutter with its lengthy list of links. So I tucked it all away in a hidden drawer under a "Menu" button. Again, this is a hypothetical redesign but in all the years of my usage and observance of how others use Wikipedia, I've never seen anyone interact with that sidebar menu as it stands today. This also gave me the advantage of freeing up room on the right side of the page for my sidebar of related topics. </p>
              <div class="img-container-light-bg">
                <img src="img/wiki-ia.png">
              </div>
              <h6 class="media-caption-light-bg">
                I hit some quick wins by improving paragraph legibility and enabling the table of contents to scroll with the user. I also brought better separation to the quick facts table and hid the immense visual clutter added by the left sidebar menu.  
              </h6>
              <hr class="caption-rule">
            </div>
        </div>
        
        
        
        <div class="container-fluid case-end">
          <div class="thank-you">
            <h2>Thanks for looking!</h2>
            <h4>Project presented by Jenna</h4>
            <img src="img/headshot-1-sq.png">
            <br />
            <a href="about.html">Learn more about Jenna</a>
            <br />
            <a href="contact.html">Get in touch</a>
          </div>
          <div class="more-cases">
            <h2 class="dark-bg">See more of my work</h2>
            <div class="container projects">
                <div class="col-md-6 project">
                    <div class="project-card">
                        <div class="project-img-container">
                            <img class="img-responsive" src="img/marketing-hero-small.jpg">
                        </div>
                        <h3>The MotoRefi Upgrade</h3>
                        <p><span class="ping">–</span> Website Redesign <span class="ping">– </span><span class="year">2018</span></p>
                        <p class="blurb">Every designer's dream: I got to tear apart my company's marketing site. Brand update, illustration, code, animation – I got to do it all!</p>
                        <a class="btn btn-default" href="moto-case.html" role="button">View details &raquo;</a>
                    </div>
                </div>
                <div class="col-md-6 project">
                        <div class="project-card">
                            <div class="project-img-container">
                                <img class="img-responsive" src="img/sandk-results-small.png">
                            </div>
                            <h3>A Technical Job Search</h3>
                            <p><span class="ping">–</span> Platform Design <span class="ping">– </span><span class="year">2017</span></p>
                            <p class="blurb">A client approached us to take their labor-intensive staffing process online. I led the information architecture and responsive visual design.</p>
                            <a class="btn btn-default" href="upfront-case.html" role="button">View details &raquo;</a>
                        </div>
                    </div>
            </div>
          </div>
      </div>
      
      {% include footer.html %}
        
        
        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src=".js/tests/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
    <script src="js/carousel.js"></script>
        
    </body>
    
</html>