---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  
    {% include head.html %}
    <title>Case: Wikipedia</title>
    
    <body>
     
      {% include nav.html %}
        
        <div class="container-fluid">
          <div class="row case-header">
              <h1>Reimagining Wikipedia</h1>
              <p><span class="ping">–</span> Design Exercise <span class="ping">– </span><span class="year">2017</span></p>
          </div>
          <div class="blurb-section row">
              <div class="col-sm-12 col-md-6 col-lg-4 case-blurb">
                <h6 class="case-blurb-title">Project Summary</h6>
                <h6>A recruiting firm approached our design agency to get their manual process online and outsource some of the legwork to their clients. We designed a modern platform that equally balances the needs of both the technical job seekers and the companies looking to hire.</h6>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 case-blurb">
                  <h6 class="case-blurb-title">Skill Areas</h6>
                  <ul>
                    <li><h6>Information Architecture</h6></li>
                    <li><h6>Visual Design</h6></li>
                  </ul>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 case-blurb-media">
                <img src="img/wiki-small.jpg">
              </div>
         </div>
      </div>

    </body>
    
</html>